{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger">{{ flashError }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_start(registrationForm) }}
<div class="row form_group">
    <div class="col-md-4 mb-3">
        {{ form_row(registrationForm.email, {'attr': {'class': 'form-control', 'placeholder': 'example@gmail.com'}}) }}
    </div>
</div>
<div class="form_group">
    <div class="col-md-4 mb-3">
        {{ form_row(registrationForm.name, {'attr': {'class': 'form-control', 'placeholder': 'John'}}) }}
    </div>
</div>
<div class="form_group">
    <div class="col-md-4 mb-3">
        {{ form_row(registrationForm.surname, {'attr': {'class': 'form-control', 'placeholder': 'Wick'}}) }}
    </div>
</div>
<div class="form_group">
    <div class="col-md-4 mb-3">
        {{ form_row(registrationForm.pesel, {'attr': {'class': 'form-control', 'type': 'number', "oninput": "this.value=this.value.replace(/(?![0-9])./gmi,'')", 'minlength': '11', 'maxlength': '11', 'placeholder': '01312510257'}}) }}
    </div>
</div>
<div class="form_group">
    <div class="col-md-4 mb-3">
        {{ form_row(registrationForm.lang, {'attr': {'class': 'form-control', 'readonly': 'readonly'}}) }}
        <br>
        {% for lang in langs %}
            <div style="display: inline-block; padding: 4px; border-radius: 10%; border-style: solid; border-width: 1px; margin: 2px;">
                <label>{{ lang.languages }}</label>
                <input type="checkbox" value="{{ lang.languages }}" />
            </div>
        {% endfor %}
        <script async>
            let inputs = Array.prototype.slice.call(document.querySelectorAll('[type="checkbox"]'));
            inp = document.querySelector("#registration_form_lang");
            inputs.forEach(function (c) {
                c.onclick = function () {
                    var a = [];
                    inputs.forEach(function (b) {
                        b.checked && a.push(b.value)
                    });
                    inp.value = a
                }
            });
        </script>
    </div>
</div>
    <div class="form_group">
        <div class="col-md-4 mb-3">
            {{ form_row(registrationForm.date, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
<div class="form_group">
    <div class="col-md-4 mb-3">
        {{ form_row(registrationForm.plainPassword, {'attr': {'class': 'form-control', 'placeholder': '*********'}}) }}
    </div>
</div>

        <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}