{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger">{{ flashError }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_start(registrationForm) }}
<div class="row form_group">
    <div class="col-md-4 mb-3">
        {{ form_row(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
<div class="form_group">
    <div class="col-md-4 mb-3">
        {{ form_row(registrationForm.name, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
<div class="form_group">
    <div class="col-md-4 mb-3">
        {{ form_row(registrationForm.surname, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
<div class="form_group">
    <div class="col-md-4 mb-3">
        {{ form_row(registrationForm.pesel, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
<div class="form_group">
    <div class="col-md-4 mb-3">
        {{ form_row(registrationForm.lang, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    <div class="form_group">
        <div class="col-md-4 mb-3">
            {{ form_row(registrationForm.date, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
<div class="form_group">
    <div class="col-md-4 mb-3">
        {{ form_row(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>

        <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
