{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    {% if app.user != null %}
        {% for role in app.user.roles %}
            {% if role != 'ROLE_ADMIN' %}
                <h4>Access denied</h4>
            {% else %}
                <h1>User</h1>

                <table class="table table-dark table-striped">
                    <tbody>
                    <tr table-dark>
                        <th>Id</th>
                        <td>{{ user.id }}</td>
                    </tr>
                    <tr table-dark>
                        <th>Email</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr table-dark>
                        <th>Name</th>
                        <td>{{ user.name }}</td>
                    </tr>
                    <tr table-dark>
                        <th>Surname</th>
                        <td>{{ user.surname }}</td>
                    </tr>
                    <tr table-dark>
                        <th>Pesel</th>
                        <td>{{ user.pesel }}</td>
                    </tr>
                    <tr table-dark>
                        <th>Programming language</th>
                        <td>{{ user.lang }}</td>
                    </tr>
                    <tr table-dark>
                        <th>Date of birthday</th>
                        <td>{{ user.date|date('d-m-Y') }}</td>
                    </tr>
                    <tr table-dark>
                        <th>Verified</th>
                        {% if user.isVerified == 1 %}
                        <td style="color:green">Verified</td>
                        {% else %}
                        <td style="color:red">Not verified</td>
                        {% endif %}
                    </tr>

                    <tr table-dark>
                        <th>Roles</th>
                        <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                    </tr>
                    </tbody>
                </table>

                <a class="btn btn-success" href="{{ path('user_index') }}">back to list</a>

                <a class="btn btn-warning" href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                <br></br>
                {{ include('user/_delete_form.html.twig') }}
            {% endif %}
        {% endfor %}
    {% else %}
        <h4>Please,login for see this page</h4>
    {% endif %}
{% endblock %}
